@import "tailwindcss";
@import "tailwindcss-intersect";

@theme {
  --color-secondary: #e1dbcb;
  --color-primary: #f2f0ea;

  --animate-loop-scroll: loop-scroll 50s linear infinite;
  --animate-scroll-into-view: scroll-into-view 1s ease-out ;

  @keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll-into-view {
    0% {
      transform: translateY(50%);
      opacity:0
    }
    100% {
      transform: translateY(0);
      opacity:1
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
a {
  font-family: var(--font-monserrat);
}

p,
li,
span,
label,
.font-inter {
  font-family: var(--font-inter);
}

a {
  text-decoration: underline 1px transparent;
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: black;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  width: fit-content;
  border: 2px black solid;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--color-primary);
  color: black;
}

input {
  background-color: var(--color-primary);
  padding: 1rem;
  color: black;
}

input:focus {
  outline: none;
}
